<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">


            <mat-form-field appearance="outline" class="w-100">
                <mat-label>username</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Enter your username">
                <mat-hint>username</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>password</mat-label>
                <input matInput ngModel name="userPassword" id="userPassword" placeholder="Enter your password" type="password">
                <mat-hint>userPassword</mat-hint>
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" class="w-100">login</button>


        </form>
    </div>
</div>